<header>
  <div>
    <div class="top__logo">
       <h1>ポケモン勝手にランキング</h1>
    </div>
    <div class="header__main">
      <% unless user_signed_in? %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% else %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
      <% end %>
      <p><%= link_to "トップページに戻る", root_path %></p>
    </div>
  </div>

</header>