/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top__logo {
   height: 100px;
   padding-top: 24px;
   text-align: center;
   background-color: ghostwhite;
  /* background-image: url(https://ferret.akamaized.net/images/59e76165fafbd876ce00035c/original.jpg?1508335973); */

 }

 .header__main {
  background-color: ghostwhite;
  padding-left: 20px;
  padding-bottom: 20px;
  /* background-image: url(https://ferret.akamaized.net/images/59e76165fafbd876ce00035c/original.jpg?1508335973); */

 }

 .container {
  text-align: center;
}

 .main__box {
  background-color: ghostwhite;
  height: 100vh;
 }
